
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Prop+Double:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lavishly+Yours&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 13px;
background-color: hsl(214, 17%, 92%);
font-family: "Barlow Semi Condensed", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
line-height: 1.25;
}


.container{
  
height: 100%;
display: grid;
/* make grid narrower overall */
grid-template-columns: repeat(4, minmax(90px, 240px));
/* slightly shorter rows and denser layout */
grid-auto-rows: auto;
grid-auto-flow: dense;
align-content: start;
justify-content: center;
/* reduce paddings to shrink footprint */
padding-inline: 2rem;
padding-top: 2rem;
padding-bottom: 1rem;
/* tighter gaps */
gap: 0.5rem;

}
.card1{

background-color: hsl(263, 55%, 52%);
grid-column: span 2 ;
padding: 0.6rem 1rem;
border-radius: 6px;

}
.card2{
background-color: hsl(224, 10%, 45%);
padding: 0.6rem 1rem;
border-radius: 6px;
}
.card3{
background-color: white;

grid-row: span 2;
padding: 0.6rem 1rem;
border-radius: 6px;
}
.card4{
background-color: white;
padding: 0.6rem 1rem;
border-radius: 6px;

}
.card5{
background-color: hsl(217, 19%, 35%);
grid-column: span 2;
padding: 0.6rem 1rem;
border-radius: 6px;
}
.card-avatar{
display: flex;
align-items: center;

}
.card-avatar img{
  border: 2px solid  hsl(260, 100%, 95%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar-info{
  margin-left: 1rem;
}
.name{
  font-family: inherit;
  font-weight: 600;
  color:hsl(260, 100%, 95%);
  font-size: 0.95rem;
  margin-bottom: 0;
}
.status{
  color: hsl(264, 82%, 80%);
  font-family: inherit;
  margin-top: .3rem;
  font-size:0.9rem ;
}
.title{
  color:hsl(260, 100%, 95%);
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.2;
  margin: 0 0 0.35rem;
}
.description{
color:  hsl(264, 82%, 80%);
font-weight: 500;
font-size: 0.75rem;
line-height: 1.25;
margin: 0;
}